:root {
  --spacing-around-sections: 2.5rem;
  --spacing-between-section-elements: 1.5rem;
  --spacing-between-form-elements: .7rem;
  --spacing-between-form-element-and-label: calc(var(--spacing-between-form-elements) / 2);
}

body {
  padding: 1rem 20px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

header {
  &:has(+ main #problems) {
    margin-bottom: var(--spacing-around-sections);
  }

  > div:first-child {
    display: flex;
    align-items: center;
    margin-bottom: var(--spacing-between-section-elements);

    h1 {
      margin-right: .5rem;
    }

    vscode-button {
      margin-right: .25rem;

      span {
        font-size: 1.25rem !important;
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    > span {
      font-size: .7rem;
    }
  }

  h3 span {
    text-decoration: underline;
  }
}

footer {
  p {
    margin: 0;
  }
}

main {
  &:has(#problems) + footer {
    text-align: center;
  }

  vscode-progress-ring {
    margin-bottom: var(--spacing-between-section-elements);;
  }

  #login {
    margin-top: .666rem;
    margin-bottom: 1.5rem;
  }

  section {
    margin-bottom: var(--spacing-around-sections);

    > *:not(:last-child) {
      margin-bottom: var(--spacing-between-section-elements);
    }

    vscode-data-grid-row[row-type="header"] {
      text-transform: capitalize;
    }
  }
}

#login, #runs, #clarifications {
  h3 {
    margin-bottom: var(--spacing-between-form-elements);;
  }

  form {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-between-form-elements);
    max-width: 300px;

    &.disabled label {
      cursor: not-allowed;
      opacity: var(--disabled-opacity);
    }

    :is(vscode-text-field, vscode-text-area)::part(label) {
      margin-bottom: var(--spacing-between-form-element-and-label);
    }

    div {
      display: flex;
      flex-direction: column;

      label {
       margin-bottom: var(--spacing-between-form-element-and-label);
      }
    }

    > vscode-button:last-child {
      align-self: flex-start;
    }
  }

  .submit-warning {
    margin-top: 1rem;
    display: flex;
    column-gap: .5rem;
    align-items: center;

    .codicon-pass {
      color: #198754;
    }

    .codicon-error {
      color: #DC3545;
    }
  }
}

#runs {
  vscode-data-grid vscode-data-grid-cell:nth-child(5) img {
    margin-left: .5rem;
  }

  form div#fileUploadDiv {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;

    vscode-button {
      flex-shrink: 0;

      span {
        margin-left: .25rem;
      }
    }

    span {
      overflow-x: hidden;
      overflow-wrap: break-word;
    }
  }
}
