:root {
  --spacing-around-sections: 2.5rem;
  --spacing-between-section-elements: 1.5rem;
  --spacing-between-form-elements: .7rem;
  --spacing-between-form-element-and-label: calc(var(--spacing-between-form-elements) / 2);
}

header {
  > div:first-child {
    display: flex;
    align-items: center;

    h1 {
      margin-right: .5rem;
    }

    vscode-button {
      margin-right: .25rem;

      span {
        font-size: 1.25rem !important;
        width: 1.25rem;
        height: 1.25rem;
      }
    }

    > span {
      font-size: .7rem;
    }
  }

  h3 span {
    text-decoration: underline;
  }
}

main {
  // wait for BOCA data to be loaded to apply the following styles to footer
  &:has(#problems) + footer {
    margin-top: var(--spacing-around-sections);
    text-align: center;
  }

  section {
    margin-top: var(--spacing-around-sections);

    > :first-child {
      // element margins will be defined by its parent section's and subsequent sibling's margin-top
      margin: 0;
    }

    > *:not(:first-child) {
      margin-top: var(--spacing-between-section-elements);
    }

      vscode-data-grid-row[row-type="header"] {
        text-transform: capitalize;
      }
  }
}


#runs, #clarifications {
  form {
    display: flex;
    flex-direction: column;
    row-gap: var(--spacing-between-form-elements);
    max-width: 300px;

    div {
      display: flex;
      flex-direction: column;

      label {
       margin-bottom: var(--spacing-between-form-element-and-label);
      }
    }

    > vscode-button:last-child {
      align-self: flex-start;
    }
  }
}

#runs {
  vscode-data-grid vscode-data-grid-cell:nth-child(5) img {
    margin-left: .5rem;
  }

  form div#fileUploadDiv {
    flex-direction: row;
    align-items: center;
    column-gap: 1rem;

    vscode-button {
      flex-shrink: 0;

      span {
        margin-left: .25rem;
      }
    }

    span {
      overflow-x: hidden;
      overflow-wrap: break-word;
    }
  }
}

vscode-text-area::part(label) {
  margin-bottom: var(--spacing-between-form-element-and-label);
}
